.property{
    color: white;
}

.property h1{
    color: white;
    font-size: 20px;
    text-align: center;
    padding-bottom: 10px;
    border-bottom:1px solid grey ;
}

.property__container{
    margin-left: 10px;
    margin-right:10px;
}

.property__container__item p{
    font-size: 18px;
    font-weight: 500;
}

.property__container__item{
   background-color: rgba(26, 25, 25, 0.842);
   border-radius: 10px;
   padding: 1px 0px 1px 10px; 
   margin-bottom: 5px;
}

.property__container__item:hover{
    background-color:   rgba(66, 65, 65, 0.651);
    transition: all .5s ease;
}

